body {
  margin: 0;
  padding: 0;
  color: rgb(255, 255, 255);
}

#container {
  display: grid;
  align-items: center;
  justify-content: center;
}

header {
  background-color: black;
  width: 100vw;
  display: grid;
  justify-content: center;
  font-size: large;
}

main {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  grid-template-columns: 1fr 4fr;
  font-size: 2rem;
}

#left {
  background-color: rgb(94, 121, 121);
  display: flex;
  justify-content: flex-start;
  height: 100vh;
  flex-direction: column;
  align-items: center;
}

#Right {
  background-color: rgb(99, 60, 60);
  display: flex;
  justify-content: flex-start;
  height: 100vh;
  flex-direction: column;
  align-items: center;
}

.image {
  height: 40px;
  width: 40px;
}

a {
  text-decoration: none;
  color: inherit;
}

.leftDiv h4 {
  display: inline;
}

.leftDiv {
  margin: 10px;
}

.projects {
  cursor: pointer;
  font-weight: bold;
}

.firstLine {
  display: flex;
  width: 70vw;
  justify-content: space-between;
}

.secondLine {
  display: flex;
  width: 70vw;
  justify-content: space-between;
}

.todoDiv {
  background-color: aqua;
  padding-right: 2rem;
  padding-left: 2rem;
  border-radius: 2rem;
  margin-bottom: 1rem;
}

.todoDiv div p {
  margin: 10px;
}
