body {
  margin: 0;
  padding: 0;
  color: rgb(255, 255, 255);
}

#container {
  display: grid;
  align-items: center;
  justify-content: center;
}

header {
  background-color: rgb(21, 21, 19);
  width: 100vw;
  display: grid;
  justify-content: center;
  font-size: large;
}

main {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  grid-template-columns: 1fr 4fr;
  font-size: 2rem;
}

#left {
  background-color: rgb(30, 28, 28);
  display: flex;
  justify-content: flex-start;
  height: 100vh;
  flex-direction: column;
  align-items: center;
}

#Right {
  background-color: rgb(54, 53, 53);
  display: flex;
  justify-content: flex-start;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  overflow-x: scroll;
}

#Right::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar {
  display: none;
}

.image {
  height: 40px;
  width: 40px;
}

a {
  text-decoration: none;
  color: inherit;
}

.leftDiv h4 {
  display: inline;
}

.leftDiv {
  margin: 10px;
}

.projects {
  cursor: pointer;
  font-weight: bold;
  overflow-x: scroll;
}

.projects::-webkit-scrollbar {
  display: none;
}

.firstLine {
  display: flex;
  width: 70vw;
  justify-content: space-between;
}

.secondLine {
  display: flex;
  width: 70vw;
  justify-content: space-between;
}

.todoDiv {
  background-color: rgb(125, 125, 167);
  padding-right: 2rem;
  padding-left: 2rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.todoDiv div p {
  margin: 5px;
}

.remove,
.Done {
  margin-left: 20px;
  cursor: pointer;
  color: red;
  text-decoration: none;
}

.Done {
  transform: scale(2);
}

.strike {
  text-decoration: line-through;
  color: green;
}

.projectShow {
  background-color: rgb(0, 0, 0);
  padding-right: 2rem;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: 2px solid white;
  border-radius: 0.7rem;
}

.ProjectInput,
.ProjectButton {
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: bolder;
}

.ProjectButton:hover {
  background-color: rgb(49, 222, 49);
}

.ProjectForm {
  display: grid;
  grid-auto-flow: column;
}

/* // right side top css  */
.rightSideTop {
  display: grid;
  grid-auto-flow: column;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}

.rightSideTop button {
  height: 40px;
  width: 150px;
  background-color: blue;
  border-radius: 10px;
  font-weight: bolder;
  color: aliceblue;
}
